@charset "UTF-8";

:root,
[data-bs-theme=light] {
--bs-success: #80b918;
--bs-success-text: #80b918;
--bs-link-color: #80b918;
--bs-border-color: #80b918;
--bs-success-rgb: 128, 185, 24;
--bs-green-rgb: 128, 185, 24;
--bs-body-bg-rgb: 128, 185, 24;
--bs-link-color-rgb: 128, 185, 24;
--bs-link-hover-color-rgb: 25, 135, 84;
--bs-dark-rgb: 50, 50, 50;
--bs-border-color-translucent: rgba(255, 255, 255, 0.175)
}
[data-bs-theme=dark] {
--bs-success-text: #80b918;
--bs-link-color: #80b918
}
.btn-outline-success {
--bs-btn-color: #80b918;
--bs-btn-border-color: #80b918;
--bs-btn-hover-bg: #80b918;
--bs-btn-hover-border-color: #80b918;
--bs-btn-active-bg: #80B918;
--bs-btn-active-border-color: #80b918;
--bs-btn-disabled-color: #80b918;
--bs-btn-disabled-border-color: #80b918
}
.dropdown-menu-dark {
--bs-dropdown-link-hover-bg: rgb(128, 185, 24);
--bs-dropdown-link-active-bg: #80b918;
--bs-dropdown-bg: #323232
}
.nav {
--bs-nav-link-padding-x: 0.35rem;
--bs-nav-link-padding-y: 0.35rem
}
.navbar-dark {
--bs-navbar-color: rgba(128, 185, 24, 1);
--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28128, 185, 24, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
--bs-navbar-hover-color: rgba(255, 255, 255, 1);
--bs-navbar-active-color: #fff
}
.navbar-toggler:focus {
box-shadow: none
}
.navbar-toggler {
border: none;
border-radius: none
}
.form-control:focus {
border-color: #80b918;
box-shadow: 0 0 0 0.2rem rgba(128, 185, 24, 0.25)
}
a {
text-decoration: none
}
.form-check-input {
border: 1px solid rgb(128, 185, 24)
}
.form-check-input:focus {
border-color: rgb(128, 185, 24) !important;
outline: 0;
box-shadow: 0 0 0 0.15rem rgba(128, 185, 24, 0.5) !important
}
.form-check-input:checked {
background-color: rgb(128, 185, 24) !important;
border-color: rgb(128, 185, 24) !important
}
.form-check-input[type=checkbox]:indeterminate {
background-color: #80b918 !important;
border-color: #80b918 !important
}
input[type='radio'] {
-webkit-appearance:none;
width:12px;
height:12px;
border:1px solid #80b918;
border-radius:50%;
outline:none
}
input[type='radio']:hover {
box-shadow: 0 0 0 0.15rem rgba(128, 185, 24, 0.5) !important
}
input[type='radio']:before {
content:'';
display:block;
width:60%;
height:60%;
margin: 20% auto;    
border-radius:50%
}
input[type='radio']:checked:before {
background:#80b918
}
h1 {
color:#80b918
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
--bs-gutter-x: 0;
}